td, th{
    border: 1px black solid;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 5px;
    font-size: xx-large;
}

table {
    border-collapse: collapse;
    padding: 20px;
    width: 90%;
}
caption {
    caption-side: top;
    font-size: xx-large;
}